@font-face {
  font-family: "Plus Jakarta Sans Medium", sans-serif;
  src: url(https://fonts.googleapis.com/css?family=Plus+Jakarta+Sans:regular,500,700,800);
}

/* filepath: /Users/legshinko/Documents/github/Lidia/css/fonts.css */
/* @font-face {
  font-family: "Plus Jakarta Sans";
  font-weight: 400;
  src: url("https://fonts.gstatic.com/s/plusjakartasans/v1/regular.woff2")
    format("woff2");
}

@font-face {
  font-family: "Plus Jakarta Sans";
  font-weight: 500;
  src: url("https://fonts.gstatic.com/s/plusjakartasans/v1/500.woff2")
    format("woff2");
}

@font-face {
  font-family: "Plus Jakarta Sans";
  font-weight: 600;
  src: url("https://fonts.gstatic.com/s/plusjakartasans/v1/600.woff2")
    format("woff2");
}

@font-face {
  font-family: "Plus Jakarta Sans";
  font-weight: 700;
  src: url("https://fonts.gstatic.com/s/plusjakartasans/v1/700.woff2")
    format("woff2");
}

@font-face {
  font-family: "Plus Jakarta Sans";
  font-weight: 800;
  src: url("https://fonts.gstatic.com/s/plusjakartasans/v1/800.woff2")
    format("woff2");
} */
